:root {
    --top-color: #2000E7;
    --unit: 1px;
}

@font-face {
    font-weight: 400;
    font-family: "Poppins-Regular";
    src: url("../font-family/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Poppins-Bold";
    src: url("../font-family/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-weight: 400;
    font-family: "Jost-Regular";
    src: url("../font-family/Jost/static/Jost-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Jost-Bold";
    src: url("../font-family/Jost/static/Jost-Bold.ttf");
}

body {
    width: 1440px;
    margin: 0;
    padding: 0;
}

/* <header> */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav {
    height: 117px;
    margin: 0;
    padding: 0;
}

.header .logo {
    width: 251px;
    height: 72px;
    margin-top: 45px;
    margin-left: 78px;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;

    color: #0E0578;
}

.header .nav-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    height: 45px;
    margin: 59px 0px 0px 0px;
    padding: 0;
}

.header .item_1,
.header .item_2,
.header .item_3,
.header .item_4 {
    height: 45px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 30px;

    color: #686565;
}

.header .item_1 {
    width: 143px;
    margin-right: 79px;
}

.header .item_2 {
    width: 119px;
    margin-right: 79px;
}

.header .item_3 {
    width: 138px;
    margin-right: 79px;
}

.header .item_4 {
    width: 111px;
    margin-right: 130px;
}

/* <header> */

/* <main> */
/* <section block 1> */
.block_1 {
    width: 1440px;
    height: 949px;
    margin: 0;
    padding: 0;
}

.block_1 .text {
    position: absolute;
    top: 318px;
    left: 78px;
}

.block_1 .img_rectangle_3 {
    position: absolute;
    top: -15px;
    left: 694px;
}

.block_1 .text h1 {
    width: 372px;
    height: 45px;
    margin: 0px 0px 5px 0px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 30px;
    line-height: 45px;

    color: var(--top-color);
}

.block_1 .text h2 {
    width: 447px;
    height: 144px;
    margin: 0px 0px 21px 0px;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;

    color: var(--top-color);
}

.block_1 .text h2 span {
    color: #F2BD00;
}

.block_1 .text p {
    box-sizing: border-box;

    width: 616px;
    height: 72px;
    margin: 0px 0px 0px -1px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #383838;
}

.block_1 .button {
    position: absolute;
    top: 605px;
}

.block_1 .bm1 {
    margin: 111px 35px 0px 65px;
}

.block_1 .text_bm1 {
    position: absolute;
}

.block_1 .text_bm1 {
    width: 466px;
    height: 36px;
    position: absolute;
    margin: 129px 0px 0px 160px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.block_1 .text_bm1 span {
    width: 123px;
    height: 36px;
    margin: 0px 0px 0px 220px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: var(--top-color);
}

/* <section block 1> */
/* <section block 2> */
.block_2 {
    width: 1440px;
    height: 910px;
    padding: 0px;
    margin: 0px;

    background-color: #43BAFD0F;
}

.block_2 h1 {
    position: absolute;
    width: 370px;
    height: 72px;
    padding: 0px;
    margin: 206px 0px 0px 46px;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.35em;

    color: var(--top-color);
}

.block_2 h2 {
    position: absolute;
    width: 89px;
    height: 36px;
    padding: 0px;
    margin: 639px 0px 0px 153px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}

.block_2 p {
    position: absolute;
    width: 415px;
    height: 303px;
    padding: 0px;
    margin: 292px 0px 0px 46px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.block_2 .bm1 {
    margin: 621px 0px 0px 67px;
}

.block_2 .img11 {
    position: absolute;
    margin: 0px 0px 0px 185.24px;
}

/* <section block 2> */
/* <section block 3> */
.block_3 {
    width: 1440px;
    height: 910px;
    padding: 0px;
    margin: 301px 0px 0px 0px;

    background-color: #FFD69633;
}

.block_3 h1 {
    position: relative;
    width: 395px;
    height: 72px;
    margin: 0;
    padding: 35px 0px 0px 0px;
    left: 488px;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.2em;

    color: #3B1FEA;
}

.block_3 p {
    position: relative;
    width: 591px;
    height: 36px;
    margin: 0px 0px 46px 0px;
    left: 412px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.projects * {
    position: absolute;
}

.projects .i30,
.projects .i35,
.projects .i38 {
    top: 0;
}

.projects .i32,
.projects .i36,
.projects .i39 {
    top: 226px;
}

.projects .i34,
.projects .i37,
.projects .i40 {
    top: 472px;
}

.projects .i30,
.projects .i32,
.projects .i34 {
    left: 108px;
}

.projects .i35,
.projects .i36,
.projects .i37 {
    left: 540px;
}

.projects .i38,
.projects .i39,
.projects .i40 {
    left: 1003px;
}

/* <section block 3> */
/* <section block 4> */
.block_4 {
    width: 1440px;
    height: 1316px;
    padding: 0px;
    margin: 269px 0px 0px 0px;

    background-color: #43BAFD0F;
}

.block_4 h1 {
    position: relative;
    width: 555px;
    height: 96px;
    margin: 0px 0px 10px 0px;
    padding: 67px 0px 0px 0px;
    left: 457px;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0.27em;

    color: var(--top-color);
}

.block_4 p {
    position: relative;
    width: 591px;
    height: 36px;
    margin: 0px 0px 0px 0px;
    left: 435px;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.block_4 .input * {
    position: absolute;

    font-family: "Poppins-Regular", sans-serif;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.block_4 .email,
.block_4 .password,
.block_4 .message {
    left: 66px;
}

.block_4 .email {
    top: 159px;
}

.block_4 .password {
    top: 334px;
}

.block_4 .message {
    top: 509px;
}

.block_4 .contact {
    top: 823px;
    left: 230px;
}

.block_4 .saly_13 {
    top: -22px;
    left: 584px;
}

.block_4 .email_text {
    width: 87px;
    height: 48px;
    top: 174px;
    left: 121px;
}

.block_4 .password_text {
    width: 154px;
    height: 48px;
    top: 349px;
    left: 121px;
}

.block_4 .message_text {
    width: 158px;
    height: 48px;
    top: 524px;
    left: 114px;
}

.block_4 .contact_text {
    width: 131px;
    height: 48px;
    top: 838px;
    left: 332px;
}

/* <section block 4> */
/* <main> */
/* <footer> */
/* <section header> */
.footer {
    width: 1440px;
    height: 809px;
    padding: 0px;
    margin: 208px 0px 0px 0px;

    background-color: #FFD69633;
}

.footer .header {
    position: relative;
    width: 1440px;
    height: 72px;
    top: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .header .nav {
    height: 72px;
    margin: 0;
    padding: 0;
}

.footer .header .logo {
    width: 386px;
    height: 72px;
    margin: 5px 0px 0px 73px;
    padding: 0;

    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.35em;

    color: #0E0578;
}

.footer .header .nav-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    height: 45px;
    margin: 0;
    padding: 0;
}

.footer .header .item_1,
.footer .header .item_2,
.footer .header .item_3 {
    height: 47px;

    font-family: "Jost-Bold", sans-serif;
    font-size: 31px;
    line-height: 44.8px;

    color: #000000;
}

.footer .header .item_1 {
    width: 157px;
    margin: 0px 107px 0px 0px;
}

.footer .header .item_2 {
    width: 90px;
    margin: 5px 200px 0px 0px;
}

.footer .header .item_3 {
    width: 142px;
    margin: 5px 174px 0px 0px;
}

/* <section header> */
/* <section body> */
.body {
    position: relative;
    width: 1440px;
    height: 325px;
    top: 132px;
    padding: 0;
    margin: 0px 0px 100px 0px;
}

.body * {
    position: absolute;
}

.body .subscribe * {
    top: 25px;

    font-family: "Jost-Bold", sans-serif;
    font-size: 31px;
    line-height: 44.8px;

    color: #FFFFFF;
}

.body .email {
    width: 323px;
    height: 97px;
    left: 26px;
}

.body .email_text {
    width: 78px;
    height: 45px;
    left: 59px;
}

.body .subscribe_img {
    width: 178px;
    height: 97px;
    left: 288px;
}

.body .subscribe_text {
    width: 145px;
    height: 45px;
    left: 305px;
}

.body .platform,
.body .help,
.body .contact {
    font-family: "Jost-Regular", sans-serif;
    font-size: 31px;
    line-height: 44.8px;

    color: #000000;
}

.body ul {
    margin: 0;
    padding: 0;
    top: -40px;

    list-style: none;
}

.body li {
    position: relative;
    margin: 45px 0px 0px 0px;
}

.body .platform ul {
    width: 160px;
    height: 366px;
    left: 570px;
    margin: 0;
    padding: 0;
}

.body .help ul {
    width: 200px;
    height: 366px;
    left: 834px;
    margin: 0;
    padding: 0;
}

.body .contact {
    left: 1128px;
}

.body .contact span {
    width: 250px;
    height: 47px;
    top: -8px;
    margin: 0;
    padding: 0;
}

.body .contact p {
    width: 250px;
    height: 188px;
    top: 65px;
    margin: 0;
    padding: 0;
}

/* <section body> */
/* <div hr> */
hr {
    position: relative;
    top: 130px;
    align-items: center;
    width: 1334px;

    color: #000000;
}

/* <div hr> */
/* <section signature> */
.signature {
    position: relative;
    width: 1440px;
    height: 46px;
    top: 170px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.signature .copyRighted {
    width: 670px;
    height: 46px;
    margin: 0px 0px 0px 46px;
    padding: 0;

    font-family: "Jost-Regular", sans-serif;
    font-size: 32px;
    line-height: 46.24px;

    color: #000000;
}

.signature .social-horizontal {
    display: flex;
    justify-content: space-between;

    list-style: none;

    height: 46px;
    margin: 0;
    padding: 0;
}

.signature .item_1 {
    width: 72px;
    height: 72px;
    margin: 8px 75px 0px 0px;
}

.signature .item_2 {
    width: 76px;
    height: 76px;
    margin: 0px 75px 0px 0px;
}

.signature .item_3 {
    width: 18.68px;
    height: 43.5px;
    margin: 5px 75px 0px 0px;
}

.signature .item_4 {
    width: 71px;
    height: 71px;
    margin: 0px 25px 0px 0px;
}

/* <section signature> */
/* <footer> */